@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  padding: 0;
  margin: 0;
}

.dynamic-width {
  box-sizing: border-box;
  width: calc(100vh * 1.6);
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}